body,
html {
    height: 100%;
    margin: 0;
    background-color: #F3E8F8;
}

.maindiv {
    background-image: url("../images/bbbackground.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Hcontainer {
    background-color: white;
    position: absolute;
    top: 30%;
    text-align: center;
    overflow: auto;
}

.Qcontainer {
    background-color: white;
    position: absolute;
    top: 55%;
    text-align: center;
    overflow: auto;
}

.header {
    font-weight: bold;
    font-size: 200%;
    color: blue;
    margin-bottom: 0;
    padding: 10px;
}

#question {
    font-weight: bold;
    font-size: 200%;
    color: blue;
}

#displayclock {
    font-size: 200%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}